.card-style{
    width: 450px;
    
}

.btn-more{
    background: #6F2C3E;
}

.btn-more:hover{
    background: #5B232F;
}

.nodeco{
    text-decoration: none !important;
}

.bg-footer{
    background: #6F2C3E;
    color: white;
}